.boxes {
	float: left;
	width: 150px;
	height: 150px;
	margin: 50px;
}

.boxesLeft {
	float: left;
	width: 500px;
	height: 500px;
	margin: 50px;
}
/* 	Andy Humphries
		9 am 
		Assignment #1   */
.boxesRight {
	float: right;
	width: 500px;
	height: 500px;
	margin: 50px;
}

.weapons {
	max-width: 100%;
  	max-height: 100%;
}

.boxFiller {
	max-height: 500px;
	max-width: 500px;
}

.center {

	margin: auto;

}


img {
	
	display: block;
	margin: 0 auto;

}

#rounded{

	border: 5px solid white;
	border-radius: 75px;
	background: red;
	height: auto;
	width: 400px;
	padding: 20px;
	float: center;

}

#rounded1 {

	border: 5px solid white;
	border-radius: 75px;	
	background: red;
	padding: 20px;
	width: auto;
	height: auto;
	float: left;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: red;
}

li {
	float: left;
}



li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	color: white;
	text-decoration: none;
}

body {
	color: white;
}

li a:hover {
	background-color: black;
}

input[type=submit] {
	color: white
	padding 20px 40px
	text-decoration: none;
	cursor: pointer;
	margin: auto;
}

form {
	text-align: center;
}












